<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>


<body>
	<div id="app">
		
		<select v-model="modelselected">
			<option disabled value="" selected>Please select value</option>
			<option v-for="model in models" v-bind:key="model">
				{{model}}
			</option>
		</select>

		<br />

		<div>
			<input 
				type="file"
				@change="onChange"
				>
			<input type="text"
				:value="filename || file && file.name"
				:placeholder="placeholder"
				disabled
				>
		</div>

		<br />
		
		<img 
			v-show="imagePreview"
			:src="imagePreview"
		/>
		
		<br />

		<button v-on:click="doClassification">
			Classify
		</button>

		<br />

		<div v-if="result">
			<table>
				<thead>
					<tr><th>Class</th><th>Confidence</th></tr>
				</thead>
				<tbody>
					<tr><td><strong>{{result.prediction}}</strong></td><td><strong>{{result.confidence}}</strong></td></tr>
					<tr v-for="r in result.topten">
						<td>{{r.label}}</td><td>{{r.confidence}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script type="application/javascript">

		const app = new Vue({
			el: '#app',
			props: {
				filename: {
					type: String,
					default: ''
				},
				placeholder: {
			     	type: String,
			        default: 'Click here to upload image'
			    },
			},
			data () {
				return {
					modelselected: null,
					models: null,
					result: null,
					file: null,
					imagePreview: null
				}
			},
			mounted () {
				axios
					.get("http://localhost:5000/models")
					.then(response => {
						this.models = response.data.models;
					})
					.catch(error => {
						console.log(error);
					});
			},
			methods: {
				onChange(e) {
					const files = e.target.files || e.dataTransfer.files;

					if (!files.length) {
						return;
					}

					const file = files[0];
					
					this.file = file;
					this.$emit('file', file)

					const reader = new FileReader();

					reader.onload = e => {
						const dataURI = e.target.result;

						if (dataURI) {
							this.$emit('load', dataURI);
							this.imagePreview = dataURI;
						}
					};

					reader.readAsDataURL(file);
				},

				doClassification() {
					const data = {
						model: this.modelselected,
						b64: this.imagePreview
					}

					axios
						.post("http://localhost:5000/predict", data)
						.then(response => {
							this.result = {
								prediction: response.data.prediction,
								confidence: response.data.confidence,
								topten: []
							};
							for (let i = 1; i <= 10; i++) {
								this.result.topten.push({
									label: response.data._all[i][0],
									confidence: response.data._all[i][1]
								});
							}
						})
						.catch(error => {
							console.log(error);
						});
				}
			}
		});

	</script>

</html>
